<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Otsikko</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h2>Smoothielista</h2>
        
        <ul>
            <li th:each="annos: ${annokset}">
                <a th:href="${'/smoothie/' + annos.id}"><span th:text="${annos.nimi}">smoothien nimi</span></a>
            </li>
        </ul>
        
        <ul>
            <li><a href="/uusismoothie">Luo uusi smoothie</a></li>
            <li><a href="/uusiraakaaine">Tarkastele ja lisää aineksia</a></li>
        </ul>
        
    </body>
</html>