<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Otsikko</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h1>Heippa vaan!</h1>

        <p>Ja .. <span th:text="${viesti}">jotain?</span></p>

        <p><a href="/opiskelijat">Tästä opiskelijalistaukseen.</a></p>
        
        <h2>Smoothielista</h2>
        <ul>
            <li th:each="opiskelija: ${opiskelijat}">
                <span th:text="${opiskelija.nimi}">opiskelijan nimi</span> <a th:href="${'/opiskelijat/' + opiskelija.id}">linkki</a>
            </li>
        </ul>
        
        <ul>
            <li><a href="/uusismoothie">Luo uusi smoothie</a></li>
            <li><a href="/uusiraakaaine">Tarkastele ja lisää aineksia</a></li>
        </ul>
        

    </body>
</html>