<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Smoothiet</title>
        <meta charset="UTF-8"/>
    </head>

    <body>
        <h1>Smoothiet</h1>
        <ul>
            <li th:each="annos: ${annokset}">
                <a th:href="${'/smoothie/' + annos.id}"><span th:text="${annos.nimi}">smoothien nimi</span></a>
            </li>
        </ul>
        <p><b>Lisää uusi</b></p>

        <form method= "POST" action="/uusiraakaaine">
            Smoothien nimi:<br/>
            <input type="text" name="smoothieNimi"/><br/>
            <input type="submit" value="Lisää"/>
        </form>

        <p><b>Lisää raaka-aineita</b></p>



        <form th:action="@{~/uusismoothie}" method="post">
            Smoothien nimi:<br/><select name="smoothienNimi">
                <option th:each="annos: ${annokset}" th:value="${annos.id}" th:text="${annos.nimi}">
                    smoothiet
                </option>
            </select><br/>


            Lisättävä raaka-aine:<br/><select name="raaka-aineet">
                <option th:each="raakaaineet: ${raakaaine}" th:value="${raakaaineet.id}" th:text="${raakaaineet.nimi}">
                    raakaaineet
                </option>
            </select><br/>
            
            Järjestys:<br/>
            <input type="text" name="jarjestus"/><br/>
            
            Määrä:<br/>
            <input type="text" name="maara"/><br/>
            
            Ohje:<br/>
            <input type="text" name="ohje"/><br/>
            
            <input type="submit" value="Lisää"/>
        </form>

        <p><a href="/">Smoothielistaukseen</a></p>
    </body>
</html>

